<div class="container">
  <svg >
    <path d="M25 0 l0 150 Z"/>
  </svg>
  <p>
    Almejo a vaga de estágio de Desenvolvedor e através deste cargo, me desafiar em novas atividades que envolvam o
    aprendizado de novas frameworks, que utilizem a computação na nuvem, onde haja a aplicação de métodos ágeis de
    gerenciamento de equipes e eficiência (Scrum, GTD), e que exija a busca por inovação e agilidade para a solução de
    problemas. Eu realmente procuro iniciar a minha vida profissional dentro de uma empresa que me desafie e que eu posso de
    alguma forma contribuir para o avanço dela.
  </p>
</div>
