.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  grid-template-areas: 
    "h i"
    "d i";
}

.header {
  grid-area: h;
}

.photo {
  grid-area: i;
  place-self: center;
  width: 250px;
  height: auto;
}

.info-data {
  grid-area: d;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
