.curriculum {
  max-width: 1000px;
  width: 80%;
  margin: 20px auto auto auto;
  padding: 20px;
  background: white;

  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 575.98px) {
  .curriculum {
    width: 100%;
    margin: 0;
  }
}
