@import '../../../../variables.scss';

.name {
  font: $bolder-weight 1.2em $primary-font;
}

.local {
  font: $italic-weight 0.9em $primary-font;
}

.responsabilities {
  margin: 5px auto;
}

ul {
  
  & li {
    line-height: 1.5em;
    display: inline-block;
    list-style: none; 
    margin: 0 0 5px 1.1225em;
    /* Give the bullet room on the left hand side */
    padding: 0;
    position: relative;
    &::before {
      color: $primary-color;  
      /* color of bullet or square */
      content: "\25CF"; 
      /* Unicode of character to precede the list item */
      display: inline-block;
      font-size: 1em; 
      /* use em or % */ 
      left: -1.1225em; 
      /* use em, line up bullet flush with left hand side */
      position: absolute;
      /* Set the bullet positioned absolutely top left */
      top: 0em; 
      /* use em or % */
    }
  }
}
