@import '../../../variables.scss';

.container {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-areas: 
    "head head"
    "svg content";
}

app-section {
  grid-area: head;
  z-index: 2;
}

svg {
  width: 50px;
  height: auto;
  grid-area: svg;
  overflow: visible;
}

path {
  stroke: grey;
  stroke-width: 3;
}

.content {
  grid-area: content;
  & .edu-data {
    margin-bottom: 10px;
  }
}
