$primary-color: #0769ad;

$primary-font: 'Raleway', sans-serif;

$normal-weight: normal 400;
$bold-weight: normal 500;
$bolder-weight: normal 700;
$black-weight: normal 800;

$italic-weight: italic 400;
